mixin portfolio(list)
  +b.portfolio&attributes(attributes)
    each item in list
      +e('a')(href="#{item.link}").item
        +e('picture').image
          source(
            media="(max-width: 20rem)",
            srcset="assets/#{item.xs}"
            )
          source(
            media="(min-width: 20rem) and (max-width: 30rem)",
            srcset="assets/#{item.s} 1x, assets/#{item.l} 2x"
            )
          source(
            media="(min-width: 30rem) and (max-width: 40rem)",
            srcset="assets/#{item.m}"
            )
          source(
            media="(min-width: 40rem) and (max-width: 60rem)",
            srcset="assets/#{item.m}"
            )
          source(
            media="(min-width: 60rem) and (max-width: 80rem)",
            srcset="assets/#{item.l}"
            )
          source(
            media="(min-width: 80rem)",
            srcset="assets/#{item.l}"
            )
          img(srcset="assets/#{item.xs}", alt="item.title")
        +e.description
          h3= item.title
          p= item.desc
