mixin portfolio(list)
  +b.portfolio&attributes(attributes)
    each item in list
      +e.A(href="#{item.link}").item
        +e.PICTURE.image
          source(
            media="(max-width: 20em)",
            srcset="assets/images/ex320.png 1x, assets/images/ex640.png 2x, assets/images/ex960.png 3x"
            )
          source(
            media="(min-width: 20em) and (max-width: 30em)",
            srcset="assets/images/ex480.png 1x, assets/images/ex960.png 2x, assets/images/ex1440.png 3x"
            )
          source(
            media="(min-width: 30em) and (max-width: 40em)",
            srcset="assets/images/ex640.png 1x, assets/images/ex1280.png 2x, assets/images/ex1920.png 3x"
            )
          source(
            media="(min-width: 40em)",
            srcset="assets/images/ex480.png 1x, assets/images/ex960.png 2x, assets/images/ex1440.png 3x"
            )
          img(srcset="assets/images/#{item.xs}", alt="#{item.desc}")
        +e.description
          h3= item.title
          p= item.desc
